<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Sap 服务器参数-->
    <add key="NAME" value="Aiko"/>
    <add key="ASHOST" value="172.16.101.207"/>
    <add key="CLIENT" value="800"/>
    <add key="USER" value="WMS03"/>
    <add key="PASSWD" value="Aiko12345"/>
    <add key="SYSNR" value="00"/>
    <add key="LANG" value="zh"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
